.title {
    font-family: Avenir Next;
    font-size: 25px;
    line-height: 5px;
}

#slider-label {
    transform: translateY(-7px);
    padding-left: 7px;
    font-family: Avenir Next;
    font-size: 14px;
}

#slider-years {
    transform: translateY(-12px);
}

.slidecontainer {
    float: left;
    padding: 20px;
    width: 907px;
}
  
.slider {
    -webkit-appearance: none;
    width: 893.5px;
    height: 7px;
    border-radius: 5px;
    background: #F8FAFC;
    border: 1.4px solid #BEC8D9;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: translateY(-14px);
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 1.4px solid #BEC8D9;
    background: #F8FAFC;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 1.4px solid #BEC8D9;
    background: #F8FAFC;
    cursor: pointer;
}

#key {
    float: left;
    padding: 45px 0px 0px 35px;
    width: 70px;
    height: 510px;
}

#key span {
    font-family: Avenir Next;
    font-size: 13px;
    float: right;
}

#key br {
    display: block;
    content: "";
    margin-top: 208px;
}

.null {
    margin-top: -195px !important;
    transform: translateX(15px);
}

#gradient {
    width: 27px;
    height: 468px;
    background: rgb(255,241,228);
    background: linear-gradient(#8C2D04 0%, rgba(254,144,51,1) 50%, #FDD0A2 100%);
    border: 1.4px solid #BEC8D9;
}

#no-data {
    width: 27px;
    height: 27px;
    margin-top: 5px;
    background: rgba(255,241,228,1);
    border: 1.4px solid #BEC8D9;
}

#choropleth-map {
    float: left;
}

.tooltip {
    line-height: 1.1;
    padding: 12px;
    background: rgba(43, 43, 43, 0.8);
    width: auto;
    height: auto;
    color: #fff;
    border-radius: 2px;
    font-size: 13px;
    font-family: Avenir Next;
}